node_modules
npm-debug.log
.git
.gitignore
.github
.DS_Store
*.md
people/
.ar
.gists
.include
.necessaries
.oktaybahceci
.online
.osboost
.osmax
.qa
.rasmusalpsjo
.realtime
.scripts
.security
.sim
.vaoev
.woke
